[submodule "openshift-ansible"]
	path = openshift-ansible
	url = https://github.com/openshift/openshift-ansible.git
[submodule "idm-server"]
	path = idm-server
	url = https://github.com/goern/idm-server.git
